---
---

body {
  background-color: #f9f9f9;
  margin-bottom: 100px
}

.header {
  a {
    color: white;
    text-decoration: none;
    &:hover { text-decoration: underline }
  }
}

a { color: #ff6961 }
a:hover { text-decoration: none }

/* code {
  background: #444;
  color: #eee;
  padding: 5px 8px;
  border-radius: 5px;
} */

pre {
  background: #444;
  color: #eee;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 40px auto;
}

hr {
  border: none;
  height: 3px;
  background-color: #ccc;
  width: 95%;
  margin: 40px auto;
}
