---
---

body {
  background: ccc;
}

.header {
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

a { color: #ff6961; text-decoration: none }
a:hover { text-decoration: underline }
